@charset "utf-8";
/* CSS Document */

.calendar1 {
 margin-top: 30px;
 text-align: center;
 z-index: 9999;

}

.calendarHead1 {
 height: 40px;
 background: #b62329;
 border-radius: 5px 5px 0 0;
 position: relative;
}

.calendar1 h2 {
 font-size: 16px;
 line-height: 40px;
 font-weight: 400;
 letter-spacing: 1px;
 text-transform: uppercase;
}
.calendar1 table {
 width: 100%;
 border-radius: 0 0 5px 5px;
 border-collapse: collapse;
 background: #000;
}
.calendar1 thead {
 background: rgba(0, 0, 0, 0.3);
 font-weight: 400;
 color: #FFF;
 text-transform: uppercase;
}
.calendar1 tbody {
 color: #7c8a95;
}
.calendar1 tbody td.active {
 background: rgba(0, 0, 0, 0.3);
}
.calendar1 td {
 width: 14.285%;
 border: 1px solid #403f41;
 font-size: 14px;
 line-height: 35px;
 text-align: center;
}
.current-day1 {
 color: #FFF;
 font-weight: bold !important;
 border-bottom: 2px solid #b62329 !important;
 position: relative;
}
.event1,
.pass-event1 {
 color: #fff;
 position: relative;
 cursor: pointer;
}
.pass-event1 {
 cursor: not-allowed;
}
.event1 span,
.pass-event span {
 position: relative;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 z-index: 99;
}
.event1:after,
.pass-event1:after {
 background: #c0392b;
 border-radius: 50%;
 bottom: 8px;
 display: block;
 content: '';
 height: 30px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 position: absolute;
 width: 30px;
 z-index: 98;
}
.pass-event1:after {
 background: grey;
}
.event1.current-day1:after {
 background: #99d026;
 border-radius: 50%;
 bottom: 8px;
 display: block;
 content: '';
 height: 30px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 position: absolute;
 width: 30px;
 z-index: 98;
}
.btn-prev1,
.btn-next1 {
 width: 30px;
 height: 40px;
 opacity: 0.7;
 position: absolute;
 top: 0;
}
.btn-prev1 {
 background: url(../../images/nav-icon.png) 8px center no-repeat;
 background-size: auto 50%;
 left: 0px;
}
.btn-next1 {
 background: url(../../images/nav-icon.png) -18px center no-repeat;
 background-size: auto 50%;
 right: 0px;
}
.btn-prev1:hover,
.btn-next:hover {
 opacity: 1;
}
.list1 {
 margin-top: 20px;
}
.ticketClose1 {
 color: #A4AAAB;
 margin-top: -15px;
 margin-right: 10px;
 float: right;
}
.day-event1 {
 width: 100%;
 /*display:none;*/
 float: left;
}
.day-event1 h3 {
 text-align: left;
 margin-bottom: 15px;
}
.ticketType1 {
 margin: 0 2% 20px 0;
 width: 32%;
 display: table-row;
 float: left;
}
.ticketType1:after {
 padding: 5px;
 background: #1e1d20;
 border: 1px solid #616062;
 border-top: none;
 font-size: 11px;
 letter-spacing: 1px;
 color: #a0a0a0;
 content: attr(data-content);
 display: block;
}
.day-event1 > div.ticketType1:nth-of-type(3) {
 margin-right: 0;
}
.ticketType1 span {
 min-width: 110px;
 display: table-cell;
 vertical-align: top;
 background: #FFF;
 font-size: 16px;
 line-height: 30px;
 font-weight: 700;
 letter-spacing: 1px;
 color: #272727;
}
.ticketType1 span:after {
 background: #b62329;
 content: attr(data-content);
 font-weight: 400;
 color: #FFF;
 display: block;
}
.quantity1 {
 position: relative;
 display: table-cell;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
input[type=number] {
 -moz-appearance: textfield;
}
.quantity1 input {
 padding-left: 20px;
 width: 100%;
 height: 60px;
 font-size: 20px;
 font-weight: 400;
 color: #FFF;
 line-height: 1.65;
 float: left;
 display: block;
 border: 1px solid #616062;
 border-left: none;
 background: none;
}
.quantity1 input:focus {
 outline: 0;
}
.quantity-nav1 {
 float: left;
 position: relative;
 height: 60px;
}
.quantity-button1 {
 position: relative;
 cursor: pointer;
 border-left: 1px solid #616062;
 width: 30px;
 text-align: center;
 color: #616062;
 font-size: 16px;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 line-height: 1.7;
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
}
.quantity-button1.quantity-up1 {
 position: absolute;
 height: 50%;
 top: 0;
 border-bottom: 1px solid #616062;
}
.quantity-button1.quantity-down1 {
 position: absolute;
 bottom: 0;
 height: 50%;
}
.total1 label {
 padding: 0 2%;
 width: 40%;
 font-size: 16px;
 font-weight: 400;
 color: #FFF;
 line-height: 2.5;
 text-align: left;
 border: 1px solid #646465;
 float: left;
}
.total1 span {
 padding-left: 30px;
 font-size: 20px;
 font-weight: 400;
 letter-spacing: 1px;
 color: #FFF;
 line-height: 2;
 float: left;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
 /* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
 /* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
 /* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
 /* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
 /* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
 /* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
 /* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
 /* STYLES GO HERE */
}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
 /* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
 /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
 /* STYLES GO HERE */
}