@font-face {
    font-family: 'Amazon Ember';
    src: url(https://m.media-amazon.com/151images/G/01/AUIClients/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-8a9db402d8966ae93717c348b9ab0bd08703a7a7._V2_.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    font-style: italic;
    src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-9cc1bb64eb270135f1adf3a4881c2ee5e7c37be5._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rgit-a4dc98d644ff2aedd41da3da462f09ffce86eafb._V2_.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-46b91bda68161c14e554a779643ef4957431987b._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bd-b605252f87b8b3df5ae206596dac0938fc5888bc._V2_.woff) format("woff")
}

@font-face {
    font-family: 'Amazon Ember';
    font-style: italic;
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-80ff7aba37dd1ff5a6b90233a19e3a780a96dc2f._V2_.woff2) format("woff2"), url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_bdit-57598ce426a612be5a1d15eee08252668fca5e7a._V2_.woff) format("woff")
}
.calendar
  {
    width: 100%;
    float: left;
  }
.responsive-calendar
  {
    width: 100%;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
  }
.responsive-calendar .controls 
  {
    text-align: center;
  }
.responsive-calendar .controls a 
  {
    cursor: pointer;
  }
.responsive-calendar .controls h4 
  {
    display: inline;
  }
.responsive-calendar .day-headers,
.responsive-calendar .days 
  {
    font-size: 0;
  }
.responsive-calendar .day 
  {
    display: inline-block;
    position: relative;
    font-size: 14px;
    width: 14.285714285714286%;
    text-align: center;
  }
.responsive-calendar .day a 
  {
    color: #000000;
    display: block;
    cursor: pointer;
    padding: 20% 0 20% 0;
  }
.responsive-calendar .day a:hover 
  {
    background-color: #eee;
    text-decoration: none;
  }
.responsive-calendar .day.header 
  {
    border-bottom: 1px gray solid;
  }
.responsive-calendar .day.active a 
  {
    background-color: #1d86c8;
    color: #ffffff;
  }
.responsive-calendar .day.active a:hover 
  {
    background-color: #36a0e2;
  }
.responsive-calendar .day.active .not-current 
  {
    background-color: #8fcaef;
    color: #ffffff;
  }
.responsive-calendar .day.active .not-current:hover 
  {
    background-color: #bcdff5;
  }
.responsive-calendar .day.not-current a 
  {
    color: #ddd;
  }
.responsive-calendar .day .badge 
  {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
  }
.Calendar-text
  {
    width: 100%;
    float: left;
    margin-top: 10px;
  }
.check
  {
    margin: 0px;
  }
.Calendar-radio-button
  {
    margin-top: 10px;
    padding: 1px;
    overflow: hidden; 
    font-family: "Amazon Ember", Arial, sans-serif;
  }
.Calendar-radio-button input[type='radio']
  {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }
.Calendar-radio-button label
  {
    float: left;
    margin: 0;
    display: inline-block;
    width: 138px;
    background-color: #ffffff;
    color: #232e3e;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
    font-family: "Amazon Ember", Arial, sans-serif;
  }
.Calendar-radio-button input:checked + label 
  {
    background-color: #fe6c00;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #232e3e;
  }
.Calendar-radio-button p
  {
    width: 100%;
    float: left;
    margin: 10px 0px;
  }
.Calendar-radio-button button
  {
    width: 200px;
    float: none;
    background: #232f3e;
    text-align: center;
    padding: 10px 0px;
    color: #fe6c00;
    font-size: 15px;
    font-weight: bold;
    font-family: "Amazon Ember", Arial, sans-serif;
    border:none;
        margin-top: 23px;
  }
.Calendar-radio-button button:hover,
.Calendar-radio-button button:focus
  {
    background: #fe6c00;
    color: #232f3e;
    text-decoration: none;
    outline: none;
  }
  .calender-content-box{
      float: left;
      width: 100%;
  }
  .calender-content-box ul{
      float: left;
      width: 100%;
      margin-top: 20px;
  }
  .calender-content-box ul li {
    display: inline-block;
  }

.calender-content-box ul li label{
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 16px;
    margin: 0 5px;
    border: 1px solid #a7b9d4;
    padding: 9px;
    word-wrap: break-word;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    padding: 24px 0 !important;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.calender-content-box ul li:nth-child(2) label{
    padding: 30px 0 !important;
}
.calender-content-box ul li input[type="radio"]:checked+label{
  background: #ccc;
}
  .Calendar-text-center {
    width: 75% !important;
}
.calender-content-box ul li label h5 {
    margin: 0;
    font-size: 13px;
    color: #232e3e;
    font-weight: 600;
    font-family: "Amazon Ember", Arial, sans-serif;
    margin: 0;
    margin-bottom: 0px;
    padding: 5px 0px 15px 0px;
    padding-bottom: 15px;
    text-transform: uppercase;
    padding-bottom: 7px;
    margin-bottom: 9px;
}
.calender-content-box ul li h5 span{
  display: block;
}
.calender-content-box ul li p {
    font-size: 15px;
    font-weight: normal;
    color: #5a5a5a;
    font-family: "Amazon Ember", Arial, sans-serif;
    cursor: pointer;
    float: left;
    width: 100%;
}
.Calendar{
  float: left;
    width: 100%;
    padding: 148px 0 35px;
    text-align: center;
}
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
  display: inline-block !important;
}
.ui-datepicker td span, .ui-datepicker td a{
  text-align: center !important;
}