@charset "utf-8";
/* CSS Document */

.calendar {
 text-align: center;
}

.calendarHead {
 height: 40px;
 background: #b62329;
 border-radius: 5px 5px 0 0;
 position: relative;
}

.calendar h2 {
 margin: 0;
 font-size: 16px;
 line-height: 40px;
 font-weight: 400;
 letter-spacing: 1px;
 text-transform: uppercase;
 color:#fff;
}
.calendar table {
 width: 100%;
 border-radius: 0 0 5px 5px;
 border-collapse: collapse;
 border: 1px solid transparent;

}
.calendar thead {
 background: rgba(0, 0, 0, 0.3);
 font-weight: 400;
 color: #FFF;
 text-transform: uppercase;
}
.calendar tbody {
 color: #7c8a95;
}
.calendar tbody td.active {
 background: rgba(0, 0, 0, 0.3);
}
.calendar td {
 width: 14.285%;
 border: 1px solid #403f41;
 font-size: 14px;
 line-height: 35px;
 text-align: center;
 cursor: pointer;
 height: 38px;
}
.current-day {
 color: #b62329;
 font-weight: bold !important;
 border-bottom: 2px solid #b62329 !important;
 position: relative;
}
.event {
 color: #fff;
 position: relative;
}
.event span {
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 z-index: 99;
}
.event:after {
 background: #c0392b;
 border-radius: 50%;
 bottom: 8px;
 display: block;
 content: '';
 height: 30px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 position: absolute;
 width: 30px;
 z-index: 98;
}
.event.current-day:after {
 background: #99d026;
 border-radius: 50%;
 bottom: 8px;
 display: block;
 content: '';
 height: 30px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 position: absolute;
 width: 30px;
 z-index: 98;
}
.btn-prev,
.btn-next {
 width: 30px;
 height: 40px;
 opacity: 0.7;
 position: absolute;
 top: 0;
}
.btn-prev {
 background: url(../../images/nav-icon.png) 8px center no-repeat;
 background-size: auto 50%;
 left: 0px;
}
.btn-next {
 background: url(../../images/nav-icon.png) -18px center no-repeat;
 background-size: auto 50%;
 right: 0px;
}
.btn-prev:hover,
.btn-next:hover {
 opacity: 1;
}
.list {
 /* margin-top: 20px;*/
}
.ticketClose {
 color: #A4AAAB;
 margin-top: -15px;
 margin-right: 10px;
 float: right;
}
.day-event {
 width: 100%;
 /*display:none;*/
 float: left;
}
.day-event h3 {
 text-align: left;
 margin-bottom: 15px;
}
.ticketType {
 margin: 0 2% 20px 0;
 width: 32%;
 display: table-row;
 float: left;
}
.ticketType:after {
 padding: 5px;
 background: #1e1d20;
 border: 1px solid #616062;
 border-top: none;
 font-size: 11px;
 letter-spacing: 1px;
 color: #a0a0a0;
 content: attr(data-content);
 display: block;
}
.day-event > div.ticketType:nth-of-type(3) {
 margin-right: 0;
}
.ticketType span {
 min-width: 110px;
 display: table-cell;
 vertical-align: top;
 background: #FFF;
 font-size: 16px;
 line-height: 30px;
 font-weight: 700;
 letter-spacing: 1px;
 color: #272727;
}
.ticketType span:after {
 background: #b62329;
 content: attr(data-content);
 font-weight: 400;
 color: #FFF;
 display: block;
}
.quantity {
 position: relative;
 display: table-cell;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
input[type=number] {
 -moz-appearance: textfield;
}
.quantity input {
 padding-left: 20px;
 width: 100%;
 height: 60px;
 font-size: 20px;
 font-weight: 400;
 color: #FFF;
 line-height: 1.65;
 float: left;
 display: block;
 border: 1px solid #616062;
 border-left: none;
 background: none;
}
.quantity input:focus {
 outline: 0;
}
.quantity-nav {
 float: left;
 position: relative;
 height: 60px;
}
.quantity-button {
 position: relative;
 cursor: pointer;
 border-left: 1px solid #616062;
 width: 30px;
 text-align: center;
 color: #616062;
 font-size: 16px;
 font-family: "Trebuchet MS", Helvetica, sans-serif !important;
 line-height: 1.7;
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
}
.quantity-button.quantity-up {
 position: absolute;
 height: 50%;
 top: 0;
 border-bottom: 1px solid #616062;
}
.quantity-button.quantity-down {
 position: absolute;
 bottom: 0;
 height: 50%;
}
.total label {
 padding: 0 2%;
 width: 40%;
 font-size: 16px;
 font-weight: 400;
 color: #FFF;
 line-height: 2.5;
 text-align: left;
 border: 1px solid #646465;
 float: left;
}
.total span {
 padding-left: 30px;
 font-size: 20px;
 font-weight: 400;
 letter-spacing: 1px;
 color: #FFF;
 line-height: 2;
 float: left;
}
.payNow {
 margin-top: 34px;
 padding: 15px 80px 15px 30px;
 background: #b62329;
 font-size: 16px;
 font-weight: 700;
 color: #FFF;
 position: relative;
 cursor: pointer;
 float: left;
 transition: 300ms all;
 -moz-transition: 300ms all;
 -webkit-transition: 300ms all;
}
.payNow:after {
 padding: 14px 23px;
 background: #FFF;
 font-size: 20px;
 color: #232323;
 content: ">";
 display: inline-block;
 position: absolute;
 right: 0;
 top: 0;
 bottom: 0;
}
.payNow:hover {
 background: #FFF;
 color: #b62329;
}
.payNow:hover:after {
 background: #e1e1e1;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
 /* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
 /* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
 /* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
 /* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
 /* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
 /* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
 /* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
 /* STYLES GO HERE */
}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
 /* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
 /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
 /* STYLES GO HERE */
}